<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="option1.css" />
    <script src="option1.js"></script>
<body>
    <article class="screen">
  <input type="checkbox" value="None" id="magicButton" name="check" />
  <label class="main" for="magicButton"></label>

  <div class="coverImage"></div>

  <div class="bodyPlayer"></div>

				
				<div class="shadow"></div>
				
				<div class="bar"></div>
				
				<div class="info">
					<h3 id="name">Ric Flair Drip</h3>
                    <h2 id="artist">Metro Boomin,Offset</h2>
				</div>

				<table class="player">
					<td><input type="checkbox" id="play" title="Play" onclick="togglePlayPause()"/><label class="play" for="play"></label></td>
				</table>
				<div class="current"><h2>STRESSED OUT</h2></div>
				
			
		</article>
</body>